/backend/node_modules
/backend/credentials.json
/backend/public
/frontend/node_modules
/frontend/dist
/backend/secret/credentials.json
/frontend/public/data.json
/backend/pnpm-lock.yaml
/frontend/pnpm-lock.yaml
